.slider-img {
    filter: brightness(50%);
}

.carousel-inner {
    height: 25%;
}

/* --------------font family-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.icons {
    text-decoration: none;
}